# Archivos de Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
pubspec.lock
doc/api/
.flutter-plugins
.flutter-plugins-dependencies

# Archivos de entorno y temporales
.env*
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# IDE y Sistema
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
*.log